<aside class="sidenav">
  <nav>
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li><a routerLink="/tickets" routerLinkActive="active">Tickets</a></li>
      <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="/audit-log" routerLinkActive="active">Audit Log</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
    </ul>
  </nav>
</aside>
